<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab">Lista de Alunos</a></li> <!--ativando tabela de navegação-->
</ul>
<div class="container"> <!--para centralizar a tabela-->
<h2 class="my-3 text-primary">Alunos</h2> <!--h2 alunos-->

    <table class="table table-striped table-bordered table-hover table-condensed"> <!--estrutura da tabela-->
      <thead> <!--cabeçalho da tabela-->
        <tr>
          <th>Nome</th>
          <th>RU</th>
          <th>Curso</th>
          <th>Valor</th>
          <th>Data Nascimento</th>
        </tr>
      </thead>
      <tbody> <!--corpo da tabela-->
        <tr *ngFor="let student of listStudents"> <!--estrutura ng for para os dados dos alunos-->
          <td>{{ student.name }}</td>
          <td>{{ student.registration }}</td>
          <td>{{ student.course }}</td>
          <td>{{ student.price | currency: "BRL" }}</td>
          <td>{{ student.date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
